@import '../../../node_modules/normalize.css/normalize.css';

@import '../variables.scss';

/*
 * Base styles
 * ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{font-size:15px;font-family:"黑体",Tahoma,Helvetica,Arial,sans-serif;
  // background-color: #ed6046;
}
ul,ol,dl,dd,dt{list-style:none;}
a{text-decoration:none;}
button , select , img , form , ul , dl , li , input{
  outline: none;
  -webkit-appearance: none;
  list-style: none;
}
