@import '../../variables.scss';
.prizeTitle{
  width:36%;
  margin:0 auto;
  margin-bottom: 10px;
  img{
    width:100%;
  }
}
.prizecontent{
    width:100%;
    border-radius: 5px;
    background:#5eca64;
    padding:10px 6px;
    padding-bottom: 0;
    margin-bottom:19px;
    clear:both;
    &:after{
      content:"";
      clear:both;
      display:block;
    }
    >div{
      width:32.3%;
      float:left;
      border:2px solid #ffc511;
      border-radius: 2px;
      margin-right: 4px;
      margin-bottom: 10px;
      background: radial-gradient(#fefbd9, #feed5e);
      padding:5px 0;
      text-align: center;
      img{
        width: 95%;
      }
      p{
        font-size: 12px;

      }
      &:nth-child(3n){
        margin-right:0;
      }
    }
  }
